MSSQL_SA_PASSWORD=replace-with-a-long-strong-SQL-password
MSSQL_DATABASE=MrsQuotes
MSSQL_PID=Express

JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
JWT_ISSUER=mrs-quotes-api
JWT_AUDIENCE=mrs-quotes-web

APP_ORIGIN=http://localhost:8080
WEB_PORT=8080
API_PORT=4000
