QUOTE_HOST=quote.maintenancerisksolutions.co.za
API_HOST=api.maintenancerisksolutions.co.za
VITE_API_URL=https://api.maintenancerisksolutions.co.za
APP_ORIGIN=https://quote.maintenancerisksolutions.co.za

WEB_IMAGE=ghcr.io/juandredupiesanie/mrs-quotes-web:latest
API_IMAGE=ghcr.io/juandredupiesanie/mrs-quotes-api:latest

MSSQL_DATABASE=MrsQuotes
MSSQL_PID=Express
MSSQL_SA_PASSWORD=replace-with-a-long-strong-SQL-password

JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
JWT_ISSUER=https://api.maintenancerisksolutions.co.za
JWT_AUDIENCE=https://api.maintenancerisksolutions.co.za
